    <!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Compras</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"> 
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-center">
                <h2>Compra No. 45 Fecha: 25/03/2020</h2>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="inicio.html">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clientes.html">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">Clientes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-view-headline menu-icon"></i>
                            <span class="menu-title">Compras</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-chart-pie menu-icon"></i>
                            <span class="menu-title">Ventas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#opc-productos" aria-expanded="false" aria-controls="opc-productos">
                            <i class="mdi mdi-circle-outline menu-icon"></i>
                            <span class="menu-title">Productos</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="opc-productos">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="productos.html">Todos los Productos</a></li>
                                <li class="nav-item"> <a class="nav-link" href="categorias.html">Categoría</a></li>
                                <li class="nav-item"> <a class="nav-link" href="tipoCategoria.html">Tipo Categoría</a></li>
                                <li class="nav-item"> <a class="nav-link" href="marcas.html">Marca</a></li>
                                <li class="nav-item"> <a class="nav-link" href="modelo.html">Modelo</a></li>
                                <li class="nav-item"> <a class="nav-link" href="calibres.html">Calibre</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="proveedores.html">
                            <i class="mdi mdi-emoticon menu-icon"></i>
                            <span class="menu-title">Proveedores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pos.html">
                            <i class="mdi mdi-account menu-icon"></i>
                            <span class="menu-title">Punto de Venta</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" style="padding:0px;">
                    <div class="row" id="app">
                        <div class="col-6 grid-margin" style="padding: 0px; margin: 0px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-primary">Datos de Compra</h4>
                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" placeholder="No. Licencia" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control form-control-sm" placeholder="Traslado">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <input type="text" placeholder="No. Factura Comrpa" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <select id="categoria" identificador="2" class="form-control form-control-sm ">
                                                            <option>Seleccionar</option>
                                                            <option identificador="1">Proveedor 1</option>
                                                            <option identificador="2">Proveedor 2</option>
                                                            <option identificador="3">Proveedor 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        <textarea class="form-control form-control-sm" placeholder="Descripción" id="exampleTextarea1" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <h4 class="card-title text-primary">Productos a comprar</h4>
                                    <div class="table-responsive  table-wrapper-scroll-y tabla-detalle-compras">
                                        <table class="table table-bordered table-hover" id="tabla-compras">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Código
                                                    </th>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Cantidad
                                                    </th>
                                                    <th>
                                                        Precio Unitario
                                                    </th>
                                                    <th>
                                                        Total
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="detalle in detalle_compra">
                                                    <td class="py-1" @click="eliminarDetalleCompra(detalle)">
                                                        <span style="color: red;">{{detalle.codigo}}</span>
                                                    </td>
                                                    <td >
                                                        {{detalle.nombre}}
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" v-bind:value="detalle.cantidad" 
                                                        v-on:keyup.enter="actualizarCantidad(detalle.codigo)">
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" 
                                                        v-bind:value="detalle.precio"
                                                        v-on:keyup.enter="actualizarPrecio(detalle.codigo)">
                                                    </td>
                                                    <td>
                                                        {{detalle.cantidad * detalle.precio}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 grid-margin" style="padding: 0px;">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title text-danger">Productos</h4>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="search">
                                                <i class="mdi mdi-magnify"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Buscar Producto" aria-label="search" aria-describedby="search" id="input-buscar">
                                    </div>
                                    <div class="table-responsive table-wrapper-scroll-y tabla-compras-productos">
                                        <table class="table table-bordered table-hover  " id="tabla-datos">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Código
                                                    </th>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        No. Registro
                                                    </th>
                                                    <th>
                                                        Disponibilidad
                                                    </th>
                                                    <th>
                                                        Precio Compra
                                                    </th>
                                                    <th>
                                                        Precio Venta
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="producto in datos_productos" @click="agregarDetalleCompra({
                                                    codigo:producto.codigo, 
                                                    nombre: producto.nombre,
                                                    disponibilidad : producto.disponibilidad,
                                                    precio : producto.precio_compra})">
                                                    <td class="py-1">
                                                        {{producto.codigo}}
                                                    </td>
                                                    <td>
                                                        {{producto.nombre}}
                                                    </td>
                                                    <td>
                                                        {{producto.registro}}
                                                    </td>
                                                    <td>
                                                        {{producto.disponibilidad}}
                                                    </td>
                                                    <td>
                                                        {{producto.precio_compra}}
                                                    </td>
                                                    <td>
                                                        {{producto.precio_venta}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <h4 class="card-title text-danger">Total</h4>
                                    <span style="font-size:40px; font-weight: 900; margin-right: 32px;">{{total}}</span>
                                    <button class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#exampleModal">Comprar</button>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Confirmar Compra</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Desea Realizar la compra con un total de {{total}}
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancelar</button>
                                      <button type="button" class="btn btn-primary">Sí, Comprar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>


                    </div>
                    
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Armería el Sherif</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/productos.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/ingresarCompra.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/file-upload.js"></script>
    <!-- End custom js for this page-->
</body>

</html>